@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET Core Razor Demo - .NET Core 8.0</h1>
    <p>Demo application for deployment testing by Michał Antolik.</p>
</div>
